*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #fff;
}
.App{
  display: flex;
  height: 100vh;
  position: relative;
}
.left{
  width: calc(100% - 80%);
  text-align: center;
  position: fixed;
  height: 100vh;
  background-color: #333;
}
.left_logo{
  width: 100%;
  height: 200px;
  text-align: center;
  margin-bottom: 60px;
}
.left_logo img{
  width: 150px;
  height: 150px;
  border-radius: 500px;
  background-color: #fff;
}
.left_logo>h3{
  margin-top: 20px;
}
.left_logo>h5{
  margin-top: 10px;
}
#test_field{
  background: url(./img/search_icon.svg) no-repeat 5px center;
  background-size: 20px;
  padding-left: 25px;
  background-color: #fff;
}
.menu{
  margin-top: 20px;
width: 200px;
height: 200px;
margin-left: 55px;
}
.menu>h4{
  margin-right: 60px;
}
.menu>ul{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.menu>ul>img{
  width: 20px;
}
.right{
  width: 100vw;
  background-color: black;
}
.header{
  width: 100vw;
  height: 40vh;
}
.header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header>h2{
  position: absolute;
  z-index: 3;
  color: #fff;
  top: 20%;
  left: 50%;
  background-color: none;
}
.API{
  width: 60%;
  padding-top: 40px;
  margin-left: 470px;
}
.api_tab{
  display: flex;
  margin-bottom: 20px;
}
.api_item{
  width: 30%;
  height: 20px;
  gap: 4px;
  text-align: center;
}
.api_item:hover{
  border-bottom: 1px solid #fff;
}